@model OrderDetailsViewModel
@{
    if (Model == null)
        ViewData["Title"] = $"Просмотр наряд-заказа";
    else
        ViewData["Title"] = $"Просмотр наряд-заказа № {Model.Id}";
}

<form method="post" asp-controller="Order" asp-action="Details" asp-antiforgery="true">

    @*type="date" *@


    <div class="form-group">
        <label asp-for="@Model.Id" class="control-label"></label>
        <input asp-for="@Model.Id" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Employee" class="control-label"></label>
        <input asp-for="@Model.Employee" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StatusOrder" class="control-label"></label>
        <input asp-for="@Model.StatusOrder" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.AdditionalCost" class="control-label"></label>
        <input asp-for="@Model.AdditionalCost" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.FinalPrice" class="control-label"></label>
        <input asp-for="@Model.FinalPrice" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.StatusPay" class="control-label"></label>
        <input asp-for="@Model.StatusPay" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Filial" class="control-label"></label>
        <input asp-for="@Model.Filial" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.DateOfReceipt" class="control-label"></label>
        <input asp-for="@Model.DateOfReceipt" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.DateOfPlainIssue" class="control-label"></label>
        <input asp-for="@Model.DateOfPlainIssue" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.DateOfAffectedPlainIssue" class="control-label"></label>
        <input asp-for="@Model.DateOfAffectedPlainIssue" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Client" class="control-label"></label>
        <input asp-for="@Model.Client" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ThingType" class="control-label"></label>
        <input asp-for="@Model.ThingType" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ThingSize" class="control-label"></label>
        <input asp-for="@Model.ThingSize" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ThingComplect" class="control-label"></label>
        <input asp-for="@Model.ThingComplect" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ManufacturerMarking" class="control-label"></label>
        <input asp-for="@Model.ManufacturerMarking" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.PollutionDegree" class="control-label"></label>
        <input asp-for="@Model.PollutionDegree" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.BurnoutDegree" class="control-label"></label>
        <input asp-for="@Model.BurnoutDegree" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.GlueParts" class="control-label"></label>
        <input asp-for="@Model.GlueParts" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasBloodWine" class="control-label"></label>
        <input asp-for="@Model.HasBloodWine" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasPaintBlackPasta" class="control-label"></label>
        <input asp-for="@Model.HasPaintBlackPasta" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasOilFat" class="control-label"></label>
        <input asp-for="@Model.HasOilFat" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasShine" class="control-label"></label>
        <input asp-for="@Model.HasShine" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasSpotUnknownOrigin" class="control-label"></label>
        <input asp-for="@Model.HasSpotUnknownOrigin" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasAbrasion" class="control-label"></label>
        <input asp-for="@Model.HasAbrasion" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.HasDeformation" class="control-label"></label>
        <input asp-for="@Model.HasDeformation" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.DefectsBefore" class="control-label"></label>
        <input asp-for="@Model.DefectsBefore" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.DefectsAfter" class="control-label"></label>
        <input asp-for="@Model.DefectsAfter" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.RemovableFittings" class="control-label"></label>
        <input asp-for="@Model.RemovableFittings" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NonRemovableFittings" class="control-label"></label>
        <input asp-for="@Model.NonRemovableFittings" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.OperationalWearDegree" class="control-label"></label>
        <input asp-for="@Model.OperationalWearDegree" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.ServiceType" class="control-label"></label>
        <input asp-for="@Model.ServiceType" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Stock" class="control-label"></label>
        <input asp-for="@Model.Stock" disabled="disabled" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.DateOfIssue" class="control-label"></label>
        <input asp-for="@Model.DateOfIssue" disabled="disabled" class="form-control" />
    </div>

    @*<div class="form-group">
            <label asp-for="@Model.TransportList" class="control-label"></label>
            <input asp-for="@Model.TransportList" disabled="disabled" class="form-control" />
        </div>*@

    <input asp-action="Index" type="submit" value="Вернуться к наряд-заказам" class="btn btn-primary">

</form>

