@model PaginatedList<Client>
@{
    ViewData["Title"] = "Клиентская база";
}

<div class="col-12 blur-background p-4">
    <form asp-action="Index" method="get" class="row col-12 align-items-center p-0 m-0 mb-3">

        @if (String.IsNullOrEmpty(ViewData["SortClientsFilter"] as string))
        {
            <div class="col-10 pr-1 p-0 m-0">
                <input type="text" autocomplete="off" name="SearchString" placeholder="Поиск..." value="@ViewData["SortClientsFilter"]" />
            </div>
            <div class="col-2 p-0 m-0">
                <input type="submit" value="Найти" class="btn btn-dark"/>
            </div>
        }
        else
        {
            <div class="col-6 col-sm-6 col-md-7 pr-2 p-0 m-0">
                <input type="text" autocomplete="off" name="SearchString" placeholder="Поиск..." value="@ViewData["SortClientsFilter"]" />
            </div>
            <div class="col-2 col-sm-2 col-md-2 pr-2 p-0 m-0">
                <input type="submit" value="Найти" class="btn btn-dark" />
            </div>
            <div class="col-4 col-sm-4 col-md-3 p-0 m-0">
                <a asp-action="Index" class="btn btn-dark like-submit">Отменить поиск</a>
            </div>
        }
    </form>

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SortClientsId"]" asp-route-currentFilter="@ViewData["SortClientsFilter"]">№</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SortClientsFullName"]" asp-route-currentFilter="@ViewData["SortClientsFilter"]">Полное имя</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["SortClientsTel"]" asp-route-currentFilter="@ViewData["SortClientsFilter"]">Номер телефона</a>
                </th>
                <th>
                    <a>Действия с клиентами</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <label>@item.Id</label>
                    </td>
                    <td>
                        <label>@item.FullName</label>
                    </td>
                    <td>
                        <label>@item.TelephoneNumber</label>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Просмотреть/редактировать</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var firstDisabled = !Model.HasFirst ? "disabled" : "";
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var lastDisabled = !Model.HasLast ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["SortClientsCurrentSort"]"
       asp-route-pageNumber="1"
       asp-route-currentFilter="@ViewData["SortClientsFilter"]"
       class="btn btn-outline-dark @prevDisabled">
        В начало
    </a>

    @if (Model.HasFirst)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["SortClientsCurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["SortClientsFilter"]"
           class="btn btn-outline-dark @prevDisabled">
            @(Model.PageIndex - 1)
        </a>
    }

    <a asp-action="Index"
       class="btn btn-outline-dark disabled">
        @(Model.PageIndex)
    </a>

    @if (Model.HasLast)
    {
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["SortClientsCurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["SortClientsFilter"]"
           class="btn btn-outline-dark @prevDisabled">

            @(Model.PageIndex + 1)
        </a>
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["SortClientsCurrentSort"]"
       asp-route-pageNumber="@Model.TotalPages"
       asp-route-currentFilter="@ViewData["SortClientsFilter"]"
       class="btn btn-outline-dark @prevDisabled">
        В конец
    </a>
</div>